<div *ngIf="applications?.length == 0" class="no-items">{{ emptyMessage }}</div>

<div *ngFor="let application of applications; let i = index">
  <div class="application-container">
    <button mat-icon-button color="primary" (click)="OpenStateDialog(application.id, application.stateId)" title="Update application" class="right">
      <mat-icon>flash_on</mat-icon>
    </button>
    <h2>{{ application.company.name }}</h2>
    <h3>{{ application.jobTitle }} - ({{ application.recordInsertDate | dateDiff }})</h3>
    <h3>{{ application.company.address }}</h3>
    <div>
      <button mat-icon-button color="primary" (click)="Download(application.resumeId)" title="Download resume">
        <mat-icon>assignment_ind</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="Download(application.coverLetterId)" title="Download cover letter">
        <mat-icon>assignment</mat-icon>
      </button>
      <a [routerLink]="['/dashboard/app/update', application.id]" mat-icon-button color="primary" (click)="Update(application.id)" title="Update application" class="update">
        <mat-icon>edit</mat-icon>
      </a>
      <a href="{{ application.applySource }}" rel="nofollow noopener noreferrer" target="_blank" mat-icon-button color="primary" title="More Details" *ngIf="application.applySource != undefined || application.applySource == null || application.applySource == ''">
        <mat-icon matBadgeColor="warn">launcher</mat-icon>
      </a>
      <button mat-icon-button color="primary" (click)="OpenToDoDialog(application.id, application.toDo)" title="To Do">
        <mat-icon [matBadge]="application.unDoneToDoCount" [matBadgeHidden]="application.unDoneToDoCount == 0" matBadgeColor="warn">assignment_turned_in</mat-icon>
      </button>
      <button mat-icon-button [color]="application.notes != undefined && application.notes != null && application.notes.trim().length > 0 ? 'accent' : 'primary'" (click)="OpenNotesDialog(application.id, application.notes)" title="Notes">
        <mat-icon matBadgeColor="warn">notes</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="OpenDeleteDialog(application.id)" title="Delete" class="right">
        <mat-icon matBadgeColor="warn">delete</mat-icon>
      </button>
    </div>
    <div *ngIf="application.history.length > 0">
      <span class="history">History</span>
      <ul class="history">
        <li *ngFor="let historyItem of application.history | slice:0:3">{{ historyItem.recordInsertDate |
          date:'yyyy-MM-dd' }} {{ historyItem.recordInsertDate |
          date:'shortTime' }} - {{ historyItem.description }}</li>
      </ul>
      <div class="view-more-container">
        <button *ngIf="application.history.length > 3" (click)="OpenLogMessagesDialog(application.history)" mat-button color="primary" class="view-more">
          View More
        </button>
      </div>
    </div>
    <div *ngIf="application.employees.length > 0" class="employee-container">
      <div *ngFor="let employee of application.employees" class="employee">
        <img [src]="LoadImage(employee!.pictureId)" />
        <h3><a [href]="employee.profileUrl" rel="nofollow noopener noreferrer" target="_blank">{{ employee.name }}</a><span class="role">({{ employee.role }})</span></h3>
      </div>
    </div>
  </div>
</div>
