<mat-toolbar color="primary">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <button mat-button routerLink="/" (click)="sidenav.close()">
    <span>App Status</span>
  </button>

  <mat-form-field appearance="fill" *ngIf="_router.url == '/dashboard'">
    <input type=[search] matInput placeholder="Search Applications" [(ngModel)]="searchKeyword" (keyup)="Search()">
  </mat-form-field>
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="sidenav-container">

  <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
    <div fxLayout="column">
      <a mat-button (click)="sidenav.close()" routerLink="/dashboard">Dashboard</a>
      <hr />
      <a mat-button (click)="sidenav.close()" routerLink="/dashboard/app/wishlist" disabled="true">Wishlist</a>
      <a mat-button (click)="sidenav.close()" routerLink="/dashboard/app/applied" disabled="true">Applied</a>
      <a mat-button (click)="sidenav.close()" routerLink="/dashboard/app/interview" disabled="true">Interview</a>
      <a mat-button (click)="sidenav.close()" routerLink="/dashboard/app/offer" disabled="true">Offer</a>
      <a mat-button (click)="sidenav.close()" routerLink="/dashboard/app/rejected" disabled="true">Rejected</a>
      <hr/>
      <a mat-button (click)="sidenav.close()" routerLink="/dashboard/app/create">New Application</a>
      <hr/>
      <a mat-button (click)="sidenav.close(); Logout();" class="red">Logout</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
