<div class="flex-root-container">
  <div class="flex-container">
    <div class="flex-items">
      <div class="mat-card-name">
        <div class="badge">{{ wishListTotalApplications }}</div>
        <h2>Wishlist</h2>
      </div>
      <mat-card>
        <app-application-list listName="WishList" emptyMessage="No Jobs on your wishlist yet">
        </app-application-list>
      </mat-card>
    </div>
    <div class="flex-items">
      <div class="mat-card-name">
        <div class="badge">{{ appliedTotalApplications }}</div>
        <h2>Applied</h2>
      </div>
      <mat-card>
        <app-application-list listName="Applied" emptyMessage="No jobs applied to yet">
        </app-application-list>
      </mat-card>
    </div>
    <div class="flex-items">
      <div class="mat-card-name">
        <div class="badge">{{ interviewTotalApplications }}</div>
        <h2>Interview</h2>
      </div>
      <mat-card>
        <app-application-list listName="Interview" emptyMessage="No jobs in interview phase yet">
        </app-application-list>
      </mat-card>
    </div>
    <div class="flex-items">
      <div class="mat-card-name">
        <div class="badge">{{ offeredTotalApplications }}</div>
        <h2>Offer</h2>
      </div>
      <mat-card>
        <app-application-list listName="Offered" emptyMessage="No offers yet"></app-application-list>
      </mat-card>
    </div>
    <div class="flex-items">
      <div class="mat-card-name">
        <div class="badge">{{ rejectedTotalApplications }}</div>
        <h2>Rejected</h2>
      </div>
      <mat-card>
        <app-application-list listName="Rejected" emptyMessage="No rejections"></app-application-list>
      </mat-card>
    </div>
  </div>
</div>
<button mat-fab color="primary" class="add-new-application" routerLink="/dashboard/app/create">
  <mat-icon>add_box</mat-icon>
</button>
