 
<br>
<!-- <app-taskslist
    [tasktotalCount]="tasktotalCount"
    (applyFilterEvent)="applyFilter($event)"></app-taskslist> -->
 <div class="row" id="plnData" *ngIf="viewContent">
     
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header class="alert alert-info">
          <mat-panel-title>
            Data
          </mat-panel-title> 
        </mat-expansion-panel-header>
       
        <table mat-table [dataSource]="taskdataSource" style="width: 100%;" matSort class="mat-elevation-z8">
            <!-- SchemeID Column -->
            <ng-container matColumnDef="action">
                <th  mat-header-cell *matHeaderCellDef > action </th>
                <td mat-cell *matCellDef="let element"> {{element.action}} </td>
            </ng-container>
            <!-- SchemeName Column -->
            <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef > product </th>
                <td mat-cell *matCellDef="let element"> {{element.product.title}} </td>
            </ng-container>
            <ng-container matColumnDef="selector" sticky>
                <th mat-header-cell *matHeaderCellDef > selector </th>
                <td mat-cell *matCellDef="let element"> {{element.selector.productId}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- <mat-paginator [length]="paytotalCount" [pageSize]="paginationService.pageSize" [pageSizeOptions]="paginationService.selectItemsPerPage"
            (page)="payonPageSwitch.emit($event)">
        </mat-paginator> -->
    
    </mat-expansion-panel>
 
</div>
    <br>
    <div class="row" id="plnCreateEdit" *ngIf="createeditContent">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header class="alert alert-info">
              <mat-panel-title>
                Create \ Edit
              </mat-panel-title> 
            </mat-expansion-panel-header>
           
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
 
            <label for="name">Test</label>
             
             <!--<input type="text" class="form-control" name="MemberFName" [(ngModel)]="MemberModel.MemberFName"
                maxlength="50" #refMemberFName="ngModel" id="MemberFName" required>
            <div *ngIf="!refMemberFName.valid  && (refMemberFName.dirty || refMemberFName.touched)" class="alert alert-danger">
                <div [hidden]="!refMemberFName.errors.required">
                    First Name is required
                </div>
            </div> -->
        </div>
        <div Class="row">

            <div Class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            </div>
            <div Class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        
                <input type="submit" ID="btnSubmit" value="Submit" Class="btn btn-success" style="width:100%" />
        
            </div>
            <div Class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> 
        
            </div>
        
        </div>
        
    </mat-expansion-panel>
    </div>

